//--------------------------------------------------------------
// Colors
//--------------------------------------------------------------
$colorMain1: #e03431 !default;
$colorGrayDark1: #303030 !default;
$colorGrayDark2: #666666 !default;
$colorGrayDark3: #A09E9E !default;

$colorGrayLight1: #E5E5E5 !default;
$colorGrayLight2: #dddddd !default;

$colorError: #ba0a0a !default;
$colorPageBackground: #f5f5f5 !default;
$colorNavigation: #272f3d !default;

$vdpColor: $colorMain1;

//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------
$icons: (
    activity: '\e900',
    airplay: '\e901',
    alertCircle: '\e902',
    alertOctagon: '\e903',
    alertTriangle: '\e904',
    alignCenter: '\e905',
    alignJustify: '\e906',
    alignLeft: '\e907',
    alignRight: '\e908',
    anchor: '\e909',
    aperture: '\e90a',
    archive: '\e90b',
    arrowDown: '\e90c',
    arrowDownCircle: '\e90d',
    arrowDownLeft: '\e90e',
    arrowDownRight: '\e90f',
    arrowLeft: '\e910',
    arrowLeftCircle: '\e911',
    arrowRight: '\e912',
    arrowRightCircle: '\e913',
    arrowUp: '\e914',
    arrowUpCircle: '\e915',
    arrowUpLeft: '\e916',
    arrowUpRight: '\e917',
    atSign: '\e918',
    award: '\e919',
    barChart: '\e91a',
    barChart2: '\e91b',
    battery: '\e91c',
    batteryCharging: '\e91d',
    bell: '\e91e',
    bellOff: '\e91f',
    bluetooth: '\e920',
    bold: '\e921',
    book: '\e922',
    bookOpen: '\e923',
    bookmark: '\e924',
    box: '\e925',
    briefcase: '\e926',
    calendar: '\e927',
    camera: '\e928',
    cameraOff: '\e929',
    cast: '\e92a',
    check: '\e92b',
    checkCircle: '\e92c',
    checkSquare: '\e92d',
    chevronDown: '\e92e',
    chevronLeft: '\e92f',
    chevronRight: '\e930',
    chevronUp: '\e931',
    chevronsDown: '\e932',
    chevronsLeft: '\e933',
    chevronsRight: '\e934',
    chevronsUp: '\e935',
    chrome: '\e936',
    circle: '\e937',
    clipboard: '\e938',
    clock: '\e939',
    cloud: '\e93a',
    cloudDrizzle: '\e93b',
    cloudLightning: '\e93c',
    cloudOff: '\e93d',
    cloudRain: '\e93e',
    cloudSnow: '\e93f',
    code: '\e940',
    codepen: '\e941',
    command: '\e942',
    compass: '\e943',
    copy: '\e944',
    cornerDownLeft: '\e945',
    cornerDownRight: '\e946',
    cornerLeftDown: '\e947',
    cornerLeftUp: '\e948',
    cornerRightDown: '\e949',
    cornerRightUp: '\e94a',
    cornerUpLeft: '\e94b',
    cornerUpRight: '\e94c',
    cpu: '\e94d',
    creditCard: '\e94e',
    crop: '\e94f',
    crosshair: '\e950',
    database: '\e951',
    delete: '\e952',
    disc: '\e953',
    dollarSign: '\e954',
    download: '\e955',
    downloadCloud: '\e956',
    droplet: '\e957',
    edit: '\e958',
    edit2: '\e959',
    edit3: '\e95a',
    externalLink: '\e95b',
    eye: '\e95c',
    eyeOff: '\e95d',
    facebook: '\e95e',
    fastForward: '\e95f',
    feather: '\e960',
    file: '\e961',
    fileMinus: '\e962',
    filePlus: '\e963',
    fileText: '\e964',
    film: '\e965',
    filter: '\e966',
    flag: '\e967',
    folder: '\e968',
    folderMinus: '\e969',
    folderPlus: '\e96a',
    gift: '\e96b',
    gitBranch: '\e96c',
    gitCommit: '\e96d',
    gitMerge: '\e96e',
    gitPullRequest: '\e96f',
    github: '\e970',
    gitlab: '\e971',
    globe: '\e972',
    grid: '\e973',
    hardDrive: '\e974',
    hash: '\e975',
    headphones: '\e976',
    heart: '\e977',
    helpCircle: '\e978',
    home: '\e979',
    image: '\e97a',
    inbox: '\e97b',
    info: '\e97c',
    instagram: '\e97d',
    italic: '\e97e',
    layers: '\e97f',
    layout: '\e980',
    lifeBuoy: '\e981',
    link: '\e982',
    link2: '\e983',
    linkedin: '\e984',
    list: '\e985',
    loader: '\e986',
    lock: '\e987',
    logIn: '\e988',
    logOut: '\e989',
    mail: '\e98a',
    map: '\e98b',
    mapPin: '\e98c',
    maximize: '\e98d',
    maximize2: '\e98e',
    menu: '\e98f',
    messageCircle: '\e990',
    messageSquare: '\e991',
    mic: '\e992',
    micOff: '\e993',
    minimize: '\e994',
    minimize2: '\e995',
    minus: '\e996',
    minusCircle: '\e997',
    minusSquare: '\e998',
    monitor: '\e999',
    moon: '\e99a',
    moreHorizontal: '\e99b',
    moreVertical: '\e99c',
    move: '\e99d',
    music: '\e99e',
    navigation: '\e99f',
    navigation2: '\e9a0',
    octagon: '\e9a1',
    package: '\e9a2',
    paperclip: '\e9a3',
    pause: '\e9a4',
    pauseCircle: '\e9a5',
    percent: '\e9a6',
    phone: '\e9a7',
    phoneCall: '\e9a8',
    phoneForwarded: '\e9a9',
    phoneIncoming: '\e9aa',
    phoneMissed: '\e9ab',
    phoneOff: '\e9ac',
    phoneOutgoing: '\e9ad',
    pieChart: '\e9ae',
    play: '\e9af',
    playCircle: '\e9b0',
    plus: '\e9b1',
    plusCircle: '\e9b2',
    plusSquare: '\e9b3',
    pocket: '\e9b4',
    power: '\e9b5',
    printer: '\e9b6',
    radio: '\e9b7',
    refreshCcw: '\e9b8',
    refreshCw: '\e9b9',
    repeat: '\e9ba',
    rewind: '\e9bb',
    rotateCcw: '\e9bc',
    rotateCw: '\e9bd',
    rss: '\e9be',
    save: '\e9bf',
    scissors: '\e9c0',
    search: '\e9c1',
    send: '\e9c2',
    server: '\e9c3',
    settings: '\e9c4',
    share: '\e9c5',
    share2: '\e9c6',
    shield: '\e9c7',
    shieldOff: '\e9c8',
    shoppingBag: '\e9c9',
    shoppingCart: '\e9ca',
    shuffle: '\e9cb',
    sidebar: '\e9cc',
    skipBack: '\e9cd',
    skipForward: '\e9ce',
    slack: '\e9cf',
    slash: '\e9d0',
    sliders: '\e9d1',
    smartphone: '\e9d2',
    speaker: '\e9d3',
    square: '\e9d4',
    star: '\e9d5',
    stopCircle: '\e9d6',
    sun: '\e9d7',
    sunrise: '\e9d8',
    sunset: '\e9d9',
    tablet: '\e9da',
    tag: '\e9db',
    target: '\e9dc',
    terminal: '\e9dd',
    thermometer: '\e9de',
    thumbsDown: '\e9df',
    thumbsUp: '\e9e0',
    toggleLeft: '\e9e1',
    toggleRight: '\e9e2',
    trash: '\e9e3',
    trash2: '\e9e4',
    trendingDown: '\e9e5',
    trendingUp: '\e9e6',
    triangle: '\e9e7',
    truck: '\e9e8',
    tv: '\e9e9',
    twitter: '\e9ea',
    type: '\e9eb',
    umbrella: '\e9ec',
    underline: '\e9ed',
    unlock: '\e9ee',
    upload: '\e9ef',
    uploadCloud: '\e9f0',
    user: '\e9f1',
    userCheck: '\e9f2',
    userMinus: '\e9f3',
    userPlus: '\e9f4',
    userX: '\e9f5',
    users: '\e9f6',
    video: '\e9f7',
    videoOff: '\e9f8',
    voicemail: '\e9f9',
    volume: '\e9fa',
    volume1: '\e9fb',
    volume2: '\e9fc',
    volumeX: '\e9fd',
    watch: '\e9fe',
    wifi: '\e9ff',
    wifiOff: '\ea00',
    wind: '\ea01',
    x: '\ea02',
    xCircle: '\ea03',
    xSquare: '\ea04',
    youtube: '\ea05',
    zap: '\ea06',
    zapOff: '\ea07',
    zoomIn: '\ea08',
    zoomOut: '\ea09'

) !default;

//--------------------------------------------------------------
// Breakpoints
//--------------------------------------------------------------
$breakpointSmall: 600 !default;
$breakpointMedium: 980 !default;
$breakpointLarge: 1100 !default;

//--------------------------------------------------------------
// Miscellaneous
//--------------------------------------------------------------
$assetBasePath: '../../';
$zIndexHeader: 200 !default;

//--------------------------------------------------------------
// Icon font
//--------------------------------------------------------------
$iconFontName: 'cmsIconFont' !default;
$iconFontVersion: 'v1.0' !default;
