$accentColor = #e03431

@media screen and (min-width: 720px) {

    .homeCustom .custom-layout {

        padding-top: 0;

    }

    .homeCustom > .navbar {

        height: 90px; position: absolute;
        background-color: transparent;
        border-bottom-color: transparent;

    }

    .homeCustom > .navbar > .links {

        top: 25px;
        background-color: transparent;

    }

    .navbar .site-name {

        display: block; position: relative;
        padding-left: 50px; margin-left: -15px;
        /*font-weight: normal;*/

    }

    .navbar .site-name:before {

        position: absolute; content: ''; left: 0; top: -2px; width: 40px; height: 40px;
        background: #e03431 url('/trim/trikoder.svg') no-repeat center; border-radius: 50%;
        background-size: 27px;

    }

    .homeCustom .navbar .site-name {

        top: 15px; left: 15px; padding-left: 65px;

    }

    .homeCustom .navbar .site-name:before {

        width: 52px; height: 52px; top: -8px;
        background-size: 35px;
        box-shadow: 0 2px 4px #0000001a;

    }

}
